@import "/src/style/include";

.dialog-date {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $cBlack;
    background: $cBlue15;
    padding: 5px 20px;
    margin: 0 auto;
    border-radius: 20px;

}

.dialog-message-container {
    display: contents;
}

.dialog-message-row {
    display: flex;
    width: 100%;
    max-width: 800px;
}

.dialog-message {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    justify-self: flex-start;
    max-width: 800px;
    min-width: 280px;
    gap: 20px;
    &__avatar {
        flex-shrink: 0;
        width: 48px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        padding: 10px 20px 10px;
        gap: 10px;
        background: $cGray15;
        overflow: hidden;
        text-align: left;
        border-radius: 16px;
        &_owned {
            background: $cBlue15;
        }
    }
    &__author {
        color: $cBlue;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.25;
    }
    &__body {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__text {
        color: $cBlack;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__media {
        position: relative;
        overflow: hidden;
        margin: 0 -10px;
        border-radius: 5px;
        font-size: 0;
        line-height: 1;
    }
    &__image {
        max-width: 100%;
        max-height: 100%;
    }
    &__status-block {
        float: right;
        &_image {
            position: absolute;
            right: 6px;
            bottom: 6px;
            padding: 0 10px;
            background: $cWhite;
            border-radius: 10px;
        }
    }
}
