<div class="chat">
    {{chatdata}}
    <div class="chat__contacts">
        {{>Contacts contacts=contacts}}
    </div>
    <div class="chat__dialog">
        {{>Dialog dialog=dialog}}
    </div>
</div>
