@import "/src/style/include";

.button {
    display: block;
    width: 100%;
    padding: 14px 20px;
    text-align: center;
    color: $cConstantWhite;
    background: $cBlue;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
        background: $cBlueHover;
    }
}

._no-send [name='submit'] {
    pointer-events: none;
    opacity: 0.5;
    filter: grayscale(1);
}
