<div class="dialog-form">
    <div class="dialog-form__left">
        <textarea class="dialog-form__field{{#unless message}} dialog-form__field_empty{{/unless}}" name="message" placeholder="Написать сообщение">{{message}}</textarea>
    </div>
    <div class="dialog-form__right">
        {{{ ButtonIcon type="send" onClick=onSubmit}}}
    </div>
</div>
