<div class="dialog-form">
    <div class="dialog-form__left">
        {{{ ButtonIcon type="attach" page="500"}}}
    </div>
    <div class="dialog-form__message">
        <textarea class="dialog-form__message-field{{#unless message}} dialog-form__message-field_empty{{/unless}}" name="message" placeholder="Написать сообщение">{{message}}</textarea>
    </div>
    <div class="dialog-form__right">
        {{{ ButtonIcon type="send" onClick=onSubmit}}}
    </div>
</div>
