{{#Page}}
    <div class="chat">
        <div class="chat__contacts">
            {{{Contacts}}}
        </div>
        <div class="chat__dialog">
            {{{Dialog}}}
        </div>
    </div>
{{/Page}}
