@import "/src/style/include";

.dialog-list {
    text-align: center;
    color: #298CFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    &__row {
        display: flex;
        width: 100%;
        max-width: 800px;
    }
}