$cBlue: #298CFF;
$cBlueHover: #226dc4;
$cBlue10: rgba(41, 141, 255, 0.1);
$cBlue15: rgba(41, 141, 255, 0.15);
$cWhite: #FFFFFF;
$cWhite80: rgba(255,255,255,0.8);
$cGray: #999999;
$cGray15: rgba(153, 153, 153, 0.15);
$cDarkGray: #555555;
$cBlack: #000000;
$cBlack30: rgba(0, 0, 0, 0.30);
$cGrayStroke: #DDDDDD;
$cGrayHover: rgba(0, 0, 0, 0.10);
$cLightenGrayBg: #F6F6F6;
$cLightGrayBg: #F0F0F0;
$cRed: #FF0000;