@import "/src/style/include";

.dialog-date { 
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $cBlack;
    background: $cBlue15;
    padding: 5px 20px;
    margin: 0 auto;
    border-radius: 20px;

}
