<div class="profile-avatar{{#unless src}} profile-avatar_empty{{/unless}}">
    {{#if src}}
        <img src="{{src}}" alt="{{alt}}">
    {{/if}}
    <div class="profile-avatar__change" data-page="{{page}}">Поменять<br>аватар</div>
</div>
