<div class="message-status">
    <div class="message-status__date">{{date}}</div>
    {{#if status}}
        <div class="message-status__status{{#if status}} message-status__status_{{status}}{{/if}}"></div>
    {{/if}}
</div>